.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

#sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-text {
    position: center;
    text-align: center;
    padding-top: 1px;
}

